<%- include('partials/header') %>

<div class="container detalle">
  <% const {id, nombre, descripcion, precio, imagen} = producto %>
  <div class="row">
    <figure class="product-img col-4">
      <img src="/images/<%= imagen %>" alt="Imagen del producto" width="100%">
    </figure>
  <div class="producto col-6">
    <h1><%= nombre %></h1> <br>
    <h5>Cód: <%= id %></h5><br>  
    <h5><%= descripcion %></h5> <br>
    <h1>$<%= toThousand(precio) %></h1> <br>
    <figure class="medios-de-pago">
      <img src="/images/medios-de-pago.png" alt="Medios de Pago" width=300 height="auto">
    </figure>
    <h5> Cantidad</h5> <br>
    <button class="btn btn-primary">Comprar</button>
    
  </div>

  </div>

</div>

  <%- include('partials/footer') %>