<%- include('partials/header') %>
      
      <br>
      <!-- Titulo -->
      <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h1>Editar Producto</h1>
        </div>
      </div>
      <br>
    <!-- Formulario -->
      <% const {id,nombre,descripcion,precio,imagen,categoria,color} = producto %>

    <form action="/products/<%= id %>/edit?_method=PUT" method="POST" enctype="multipart/form-data"> 

        <!-- Nombre -->
        <div class='row'>
            <div class="col-0 col-lg-3"></div>
            <div class="col-3 col-lg-2">
                <label for='nombre' class='label-registro' > Nombre </label>
            </div>
            <div class="col-9 col-lg-3">
                <input type='text' name='nombre' id='nombre' class='form-control' value='<%=nombre%>'>
            </div>
        </div>
        <br>
        <!-- Categoria -->
        <div class='row'>
            <div class="col-0 col-lg-3"></div>
            <div class="col-3 col-lg-2">
                 <label for='categoria' class='label-registro'> Categoria </label>
            </div>
            <div class="col-9 col-lg-3">
                <input type='text' name='categoria' id='categoria' class='form-control' value='<%=categoria%>'>
            </div>
        </div>
        <br>
        <!-- Precio -->
        <div class='row'>
            <div class="col-0 col-lg-3"></div>
            <div class="col-3 col-lg-2">
                <label for='precio' class='label-registro'> Precio </label>
            </div>
            <div class="col-9 col-lg-3">
                <input type='number' name='precio' id='precio' class='form-control' value='<%=precio%>'>
            </div>
        </div>
        <br>
        <!-- Color -->
        <div class='row'>
            <div class="col-0 col-lg-3"></div>
            <div class="col-3 col-lg-2">
                <label for='color' class='label-registro'> Color </label>
            </div>
            <div class="col-9 col-lg-3">
                <input type='text' name='color' id='color' class='form-control' value='<%=color%>'>
            </div>
        </div>
        <br>
        <div class='row'>
            <div class="col-0 col-lg-3"></div>
            <div class="col-3 col-lg-2">
                <label for='descripcion' class='label-registro' id='descripcion'> Descripción </label>
            </div>
            <div class="col-9 col-lg-3">
                <textarea name='descripcion' class='form-control'> <%=descripcion%> </textarea>
            </div>
        </div>
        <br>
        <!-- Imagen -->
        <div class="row">
            <div class="col-0 col-lg-3"></div>
            <div class="col-3 col-lg-2">
            <label for='image' class='label-registro'>Imagen</label>
            </div>
    
            <div class="col-9 col-lg-5">
            <input type='file' class='form-control-file' name='image'>
            </div>
          </div>
        <br>
        <!-- Boton -->
        <div class="row">
            <div class="col-12 col-lg-8 text-right">
                <button type='submit' class='btn btn-success'> Enviar </button >
            </div>
        </div>
    </form>
    </div>
    <br>
    
<%- include('partials/footer') %>