<%- include('partials/header'); %>

<div class="card border-primary mb-3">
    <div class="card-body text-primary">
      <h5 class="card-title">Listado de Productos</h5>
  
      <div class="my-2 text-left">
        <a class="btn btn-rounded btn-primary" role="button" href="/products/carga/">Crear Producto</a>
      </div>
  
      <table class="table table-bordered table-striped">  
        <thead>
          <tr>
            <th>ID</th>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Precio</th>
            <th>Categoría</th>
            <th>Color</th>
            <th>Acción</th>
          </tr>
        </thead>
  
        <tbody>
            <% productos.forEach( producto => { %>
            <% const {id,nombre,descripcion,precio,imagen,categoria,color} = producto;  %>
          <tr>
            <td><%= id %></td>
            <td>
                <img src="/images/<%=imagen%>" alt="<%= nombre %>" width="100">
            </td>
            <td><%= nombre %></td>
            <td><%= descripcion %></td>
            <td><%= precio %></td>
            <td><%= categoria %></td>
            <td><%= color %></td>
            <td style="text-align: center;">
          
                <form action="/products/<%= id %>/edit">
                  <button class="btn btn-block edit-button">
                  <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                  </button>  
                </form> 
                
                <form action="/products/<%= id %>/delete?_method=DELETE" method="POST">
                  <button class="btn btn-block delete-button" type="submit" 
                    onclick="return confirm('¿Está seguro que quiere eliminar el producto?');">
                  <i class="fa fa-trash-o" aria-hidden="true"></i>
                  </button>
                </form>

            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>

<%- include('partials/footer') %>